.container_section {
  width: 100%;
  background-color: var(--home-background);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  padding: 20px;

  .tabView {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--home-background);

    ul {
      background-color: var(--home-background);

      a {
        background-color: var(--home-background);
      }
    }
  }

  .message {
    align-self: center;
    color: var(--desc-color);
  }
}
