@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:ital,wght@1,300&display=swap');

// fonts
$nav-items-font-family: "PT Sans", sans-serif;

// colors
$nav-header-primary-color: #623994;
$core-components-primary-color: #24262b;
$primary-color: #007bff;
$secondary-color: #333;
$background-color: #f2f2f2;