.caseopening_container {
  position: relative;
  min-height: calc(100vh - 70px);
  background: var(--home-background);
  color: white;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 0;

  .upper {
    position: relative;
    height: 100%;
    width: 100%;

    .caseInfo {
      z-index: 3;
      display: flex;
      justify-content: center;
      flex-direction: column;

      width: 100%;

      .welcome_msg {
        // z-index: 0;
        font-weight: 500;
        font-size: 24px;

        span {
          font-size: 30px;
          color: var(--Yellow-Color);
        }
      }

      img {
        align-self: center;
        height: 320px;
        filter: drop-shadow(0px 0px 12px #fff6);
      }

      border-bottom: var(--primary-color) solid 2px;
    }

    .skinsList {
      padding: 20px 10px 10px 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .actionBtns {
    // border-top: var(--primary-color) solid 2px;
    height: 54px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .placeholder {
    height: 54px;
  }
}
