@use "sass:color";

.item {
  $size: 150px;
  width: $size;
  height: $size;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #000;

  .item {
    $color: #c7c7c7;
    background: radial-gradient(circle at 50% 110%, $color, color.scale($color, $lightness: -50%));
    flex: 1;

    .img {
      background-size: contain;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 5px;
    }

    .price {
      margin: 5px 10px;
      font-size: 0.8em;
      color: #fff;
      font-weight: 600;
      text-shadow: 0 0 5px #000;
    }
  }

  .info {
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    min-height: 34px;

    @mixin rarityBg($color-bg) {
      background: linear-gradient(to right, $color-bg, color.scale($color-bg, $lightness: -40%));
    }

    &.rarity-gray { @include rarityBg(#9fa8b0); }
    &.rarity-blue { @include rarityBg(#335ec3); }
    &.rarity-purple { @include rarityBg(#8058b5); }
    &.rarity-pink { @include rarityBg(#c921cf); }
    &.rarity-red { @include rarityBg(#b83131); }

    .name {
      font-weight: 600;
    }

    .weapon {

    }
  }
}
