@import "../../../management/variables/variables";



.header {
    background-color: $core-components-primary-color;
    padding: 10px 0;
    text-align: center; 
}

.navbar {
  padding: 10px 0;
}

.navbar-list {
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 15px;
  font-family: $nav-items-font-family;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #397591;
  }
}
