.csgo-slot-machine {
  position: relative;
  // height: 100vh;
  overflow: hidden;
}

.slot-container {
  // position: absolute;
  top: 0;
  right: 0; /* Start from the right */
  // display: flex;
  flex-direction: row-reverse; /* Reverse the order */
}

.slot-reel {
  display: flex;
  animation: roll 5s linear infinite;
}

.slot {
  width: 100px;
  height: 150px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slot img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes roll {
  0% {
    transform: translateX(100%); /* Move to the left */
  }
  100% {
    transform: translateX(-100%);
  }
}
