.case_card {
  max-height: 75px;
  display: flex;
  box-shadow: 0px 0px 4px #000c;
  padding: 4px;
  background-position-x: 160%;
  background-size: 300%;
  cursor: pointer;
  transition: 0.5s;
}

.rarity_common {
  background-image: linear-gradient(45deg, #9996, #999c, #fff3);
}
.rarity_rare {
  background-image: linear-gradient(45deg, #2426, #242c, #fff3);
}
.rarity_epic {
  background-image: linear-gradient(45deg, #2276, #227c, #fff3);
}
.rarity_legendary {
  background-image: linear-gradient(45deg, #7626, #762c, #fff3);
}

.case_img_wrapper {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case_img_wrapper img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  transition: 0.5s;
}

.case_description {
  width: 70%;
  font-size: 12px;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.case_price {
  color: #cccccc;
}

.case_title {
  font-size: 16px;
  text-transform: uppercase;
}

.case_card:hover {
  background-position-x: 250%;
}

.case_card:hover img {
  filter: drop-shadow(0px 0px 8px #fff6);
}
