@mixin flexCenterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  