.react-multiple-carousel__arrow {
  border-radius: 1px;
  height: 200px;
  background: none;
  z-index: 0;
}
.react-multiple-carousel__arrow:hover {
  background: none;
}

.react-multiple-carousel__arrow--right {
  right: calc(0.1% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(0.1% + 1px);
}

:root {
  /* ----Navbar----- */
  --nav-links: #fff;
  --nav-background: #234;
  --nav-hover: #8a8b8c;
  --nav-shadow: 0px 0px 8px #000;

  /* ------Home Page------ */
  --home-background: #21201e;
  --text-white: white;
  --desc-color: #aea89b;
  --primary-color: #b0141b;
  --primary-lighter-color: #aa343a;
  --stats-card: #2b2926;
  --button-main-bg: #b0141b;
  --button-second-bg: white;
  --border-main: 1px solid #fff6;

  $primaryColor: #b0141b;
  $primaryLightColor: #b0141b !default;
  $primaryLighterColor: #b0141b !default;
  $primaryLightestColor: rgba(251, 191, 36, 0.2) !default;
  $primaryTextColor: #030712 !default;
}

body {
  /* ----Navbar----- */
  --nav-links: #fff;
  --nav-background: #234;
  --nav-hover: #8a8b8c;
  --nav-shadow: 0px 0px 8px #000;

  /* ------Home Page------ */
  --home-background: #21201e;
  --text-white: white;
  --desc-color: #aea89b;
  --primary-color: #b0141b;
  --primary-lighter-color: #aa343a;
  --stats-card: #2b2926;
  --button-main-bg: #b0141b;
  --button-second-bg: white;
  --border-main: 1px solid #fff6;

  --primary-light-color: #aa343a;

  $primaryColor: #b0141b !default;
  $primaryLightColor: #fcd34d !default;
  $primaryLighterColor: #fde68a !default;
  $primaryLightestColor: rgba(251, 191, 36, 0.2) !default;
  $primaryTextColor: #030712 !default;

  $highlightBg: rgba(251, 191, 36, 0.16) !default;
  $highlightTextColor: rgba(255, 255, 255, 0.87) !default;
  $highlightFocusBg: rgba($primaryColor, 0.24) !default;
}
