@import url("https://fonts.googleapis.com/css?family=Arvo");
body {
  background: rgb(25, 25, 33);
}

.raffle-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1480px;
  // width: 380px;
}

.raffle-roller {
  position: relative;
  margin: 20px auto;
  width: 1480px;
  // width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.raffle-roller:before {
  content: "";
  position: absolute;
  border: none;
  z-index: 12222225;
  width: 5px;
  height: 100%;
  left: 50%;
  background: #d16266;
}

.raffle-roller-holder {
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #3c3759;
}

.raffle-roller-container {
  width: 15000px;
  max-width: 15000px;
  height: 150px;

  // width: 8000px;
  // max-width: 8000px;
  // height: 90px;

  background: #191726;
  margin-left: 0;
  transition: all 8s cubic-bezier(0.08, 0.6, 0, 1);
  display: flex;
  align-items: center;
}

.item {
  display: inline-block;
  float: left;
  margin: 4px 0px 0.5px 5px;
  width: 150px;
  height: 135px;

  // width: 90px;
  // height: 80px;
  border: 1px solid #70677c;
  background: #14202b;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  border: 0;
  vertical-align: middle;
}

.winning-item {
  border: 2px solid #66b233;
  position: relative;
  top: -1px;
  border-bottom: 4px solid #66b233;
  box-shadow: 0 0 7px 0 #66b233;
}

.inventory {
  margin: 0 auto;
  width: 80%;
  padding: 10px 15px 6px;
  height: auto;
  border: 2px solid #1c3344;
  background: #0e1a23;
  margin-bottom: 30px;

  .item {
    width: 100px;
    height: 90px;
  }
}

.inventory > .item {
  float: none;
  cursor: pointer;
  margin: 4px 2px 0.5px 2px;
}

.inventory > .item:hover {
  background-size: 90%;
  background-color: #182a38;
}

.inventory > .item:active {
  height: 83px;
  width: 80px;
  position: relative;
  top: -2px;
  border: 2px solid #356d27;
  border-bottom: 4px solid #356d27;
}
