.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.welcome_msg {
  font-weight: 500;
  font-size: 24px;
}

.skinsList {
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-self: center;
  justify-self: center;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
}

.rouletteWrapper {
  height: 500px;
}

.roulette {
  padding-top: 100px;
  overflow: hidden;
  position: relative;
}

.blurredRoulette {
  filter: blur(3px) brightness(75%);
}

.circleRoulette {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 50%; */
  /* translate: -50%; */
  /* z-index: 5; */
  /* clip-path: circle(155px at 50% 50%); */
  /* -webkit-clip-path: circle(155px at 50% 50%); */
  transform: scale(1.1);
}
